.frontpage-news {
    background: $blue;
    padding: 50px 0px;
    .h2 {
        font-weight: 600;
        font-size: 48px;
    }
    .post {
        margin-bottom: 20px;
        .h3 a {
            color: #000;
            text-decoration: underline;
            margin-bottom: 20px;
        }
    }
    ul {
      padding-left: 20px;
    }
}