.openingtimes-address-text {
    .column_1, .column_2 {
        h2, h3 {
            font-size: 48px;
            margin-bottom: 40px;
            font-weight: 600;
            margin-top: -4px;
        }
        p {
            margin-bottom: 20px;
        }
    }
    .column_2 {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
    }
    .column_1 {
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
        height: 400px;
        .content {
            z-index: 1;
            position: absolute;
            h3, p, strong {
                font-size: 28px;
                line-height: 36px;
            }
            a {
                text-decoration: underline;
            }
        }
        &::before {
            content: "";
            background: $blue;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: -200%;
            right: 0px;
            z-index: 0;
        }
    }
}
@media screen and (max-width: $breakpoint-lg) {
    .openingtimes-address-text {
        .column_2 {
            padding-top: 20px;
            padding-bottom: 0px;
            padding-left: 15px;
        }
    }
}