@import "theme-variables";
@import "typography";

@media all and (min-width: $breakpoint-md) {
    .mobile-only {
        display: none;
    }
}
@media all and (max-width: $breakpoint-md) {
    .desktop-only {
        display: none;
    }
}

a {
    transition-duration: .2s;
    &:hover {
        color: #fff;
    }
}
.btn-outline-dark:hover, .btn:hover {
    background-color: transparent;
    color: #000;
}